<!DOCTYPE html>
<html>
    <head>
        <title>Hangman Web</title>
        <link rel="stylesheet" href="statics/hangman-web.css" />
        <link rel="icon" type="image/png" sizes="16x16" href="statics/capture.png" />
    </head>
    <body>
        <style>
            html{
                background-color: #988eb7;
            }
        </style>
        <div id="container">
            <div class="container-item left">
            <div id="letter-board" class="board">
                <h3> <pre>Proposed Letters</pre> </h3>
                <div>
                    {{range .LettersSuggested}}
                        {{.}}
                    {{end}}
                </div>
            </div>
            <h1 id="ToFind"><pre>{{.ToFind}}</pre></h1>
            <h3 style="color:#533496">{{.Error}}</h3>
          
            {{if and (ge .Attempts 1) (ne .Word .ToFind)}}
            <form method="POST" action="/hangman">
                <input class="barre" type="text" maxlength="{{len .Word}}" name="Letter" autofocus placeholder="Choose a letter"/>
                <input class="styled" type="submit" value="submit" />
            </form>
            {{else if eq .ToFind .Word}}
                <h1 style="color: green"><pre>CONGRATS !</pre></h1>
                <form action="/replay">
                    <input class="styled" type="submit" value="Play again" />
                </form>
            {{else}}
            <h1 style="color: rgb(212, 8, 8)"><pre>You loose..., the word was {{.Word}}</pre></h1>
            <form action="/replay">
                <input class="styled" type="submit" value="Play again" />
            </form>
            {{end}}
        </div>
        <div class="container-item right">
            <div  id="hangman-board" class="board">
                <h3><pre>Hangman board</pre></h3>
            </div>
            <div id="container-hangman">
                {{ if lt .Attempts 8}}
                <div class="hangman-item" style="width: 15%; position:relative; left: 4%;">
                    {{ if lt .Attempts 6}}
                    <div id="rope" class="hangman-item">
                        {{ if lt .Attempts 5}}
                        <div id="head" class="hangman-item">
                            {{ if lt .Attempts 4}}
                            <div id="body" class="hangman-item">
                                {{ if lt .Attempts 3}}
                                <div id="arms" class="hangman-item"></div>
                                {{end}}
                                {{ if lt .Attempts 2}}
                                <div class="hangman-item leg" id="leg-left"></div>
                                {{end}}
                                {{ if lt .Attempts 1}}
                                <div class="hangman-item leg" id="leg-right"></div>
                                {{end}}
                            </div>
                            {{end}}
                        </div>
                        {{end}}
                    </div>
                    {{end}}
                </div>
                {{end}}
                {{ if lt .Attempts 9}}
                <div id="trunc" class="hangman-item" style="height: 25vh;width:0px;">
                    {{ if lt .Attempts 7}}
                    <div class="hangman-item" style="transform: rotate(45deg); position:relative; top: -20px; left: 35px;height: 100px;"></div>
                    {{end}}
                </div>
                {{ end }}
                {{ if lt .Attempts 10}}
                 <div id="base" style="width: 15%" class="hangman-item"></div>
                {{end}}
            </div>
        </div>
    </div>
    </body>
</html>