<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/statics/style.css" rel="stylesheet"/>
    <title>Hangman web</title>
</head>
<body>
    <style>
        html{
            background-color: rgb(63, 124, 246);
        }
    </style>
<!-- barre où la lettre est entrée -->
    <div class="barre">
        <form action="/hangman.go" method="post" class="form-example">
          <input type="text" name="name" id="barre" required placeholder=" Choose a letter">
          <!-- bouton  envoyer-->
          <input class="styled" type="submit" value="Entrer" />
        </form>
    </div>
</body>
</html>