<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/statics/style.css" rel="stylesheet"/>
    <title>Hangman web</title>
</head>
<body>
    <style>
        html{
            background-color: rgb(154, 172, 208);
        }
    </style>
<!-- barre où la lettre est entrée -->
    <form action="" method="get" class="form-example">
        <div class="barre">
          <input type="text" name="name" id="barre" required placeholder=" Choose a letter">
        </div>
    </form>
<!-- bouton  envoyer-->
    <button class="styled" type="button">Submit</button> 
</body>
</html>